@font-face{
    font-family: Jua;
    src: url(./fonts/Jua-Regular.ttf);
}

body{
    background-color: #231F20;
}

.navbar-container{
    margin-top: 2%;
    font-family: Jua;
    font-size: x-large;
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.link-container{
    width: 40%;
    height: 100%;
    text-align: center;
}

.link-container:hover{
    background-color: #111;
}

.index-content-container{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    padding-right: 10%;
}

.grad-img{
    max-width: 60%;
    max-height: 60%;
}

.index-text-container{
    text-align: center;
    font-family: Jua;
    color: white;
    padding-right: 10%;
}

.party-info-content-container{
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 50% 50%;
}

.map-container{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
    width: 80%;
    height: 80%;
}

.map-container iframe{
    height: 90%;
    width: 90%;
}

.address-container{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family: Jua;
    color: white;
}

.parking-note-container{
    grid-column: 1 / 3;
    grid-row: 2/3;
    text-align: center;
    font-family: Jua;
    color: white;
}

.food-and-drink-content-container{
    color: white;
}